<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%=yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
=======
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> 7a4e78da68da2961fbc4f7ed4d14ed1bed7cb7b0
</html>
